body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(45deg, cyan, yellow);
}
.tela-login{
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 70px;
    border-radius: 20px;
    color: white;
}
input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 17px;
}
button{
    font-family: 'Poppins', sans-serif;
    background-color: blue;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    font-size: 13px;
    font-style: normal;
}
button:hover{
    cursor: pointer;
    background-color: rgb(63, 97, 172);
}